- content_for :title_header do
  %h1
    %span.profile-title= t('.title')

.row
  .col-8

    .row.relative
      .people-image-mobile
        = huge_avatar_thumb(@person)
    .row
      = t('.content').html_safe

  .col-4
    .row
      .people-image
        = huge_avatar_thumb(@person)

    .row
      .profile-action-buttons-desktop
        = render :partial => "profile_action_buttons", :locals => { :show_contact_btn => true }
