- payment_split = payment_split_locals[:payment_split]
- braintree_form = payment_split_locals[:braintree_form]
- if transaction_model.payment && (transaction_model.payment.status == 'pending' || transaction_model.payment.status == 'partial') && payment_split.present? && !is_author
  - content_for :extra_javascript do
    = javascript_include_tag "https://js.braintreegateway.com/v1/braintree.js"

  - content_for :extra_javascript do
    :javascript

      $(document).ready(function() {
        var braintreePaymentForm = $("#braintree-payment-form");
        initialize_braintree_payment_form("#{I18n.locale}", function beforeSubmit(next) {
          var braintree = Braintree.create("#{@braintree_client_side_encryption_key}");
          braintree.encryptForm(braintreePaymentForm);
          next();
        });

        braintreePaymentForm.show();
      });

  - content_for :title_header do
    %h1= t(".new_credit_card_payment")

  .centered-section.payment-form
    - payment_receiver = transaction_model.payment_receiver
    %p
      = t(".payment_receiver")

      = "#{link_to payment_receiver.name(@current_community), payment_receiver}".html_safe

    %p
      = "#{t("payments.form.product")}"
      = link_to "#{transaction_model.listing.title}", transaction_model.listing
    %p
      = "#{t("payments.form.price")}"
      = humanized_money_with_symbol(payment_split.sum)

    = form_for payment_split,
      :url => person_message_braintree_payment_path(@current_user.id,
        transaction_model.id,
        payment_split.id),
        :html => { :id => "braintree-payment-form", :class => "hidden" } do |form|

      = render partial: "payments/braintree/credit_card_info", locals: {braintree_form: braintree_form}

      .row
        .col-12
          = form.button t(".confirm_payment"), :class => "send_button"


      %br/

      .row
        .col-12
          %h3
            = "Security information"

          %p
            = "We do not store your credit card information."

          %p
            = "The credit card information will be securely forwarded to the payment provider."

          %p
            = link_to "https://www.braintreepayments.com/" do
              = image_tag("payments/braintree-logo-2x.png", height: '32')

            %br/

            = "Our secure payment provider"

    %noscript
      = "For security reasons JavaScript has to be enabled"
